span{
    color: darksalmon;
    font-style: oblique    

}

span.negrita{

    font-weight: bold;
}

span.smol{

    font-size: smaller;
}

ol{
list-style-type: upper-roman;
}

ul{
list-style-image: url("img/galletA.png");
}